
@{
    ViewBag.Title = "AddFosterCareDates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Add Foster Care Period</h2>

<div class="form-group">
    <label>Enter Foster Care Period :</label> </br>

    <input type="number" class="form-control" placeholder="Foster Care Period">
</div>

<div class="form-group">
    <button type="submit" name="button" value="Save" class="btn btn-success float-right col-md-6">Save</button>
    <button type="button" name="button" value="Cancel" class="btn btn-warning col-md-6">Cancel</button>
</div>

