<ion-header>
    <ion-toolbar>
      <ion-title>
       Wollies Login Page
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
<ion-list>
  <ion-item>
    <ion-lable floating>
      Username
    </ion-lable>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
      <ion-lable floating>
        Password
      </ion-lable>
      <ion-input type="password"></ion-input>
    </ion-item>
</ion-list>

<button ion-button color="primary">Login</ion-button>
</ion-content>