
@{
    ViewBag.Title = "AddTimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add  Timer</h1>
<div class="form-group">
    <label>Enter Time length :</label> </br>

    <input type="time" class="form-control" name="time" placeholder="mm:ss">
</div>

<div class="form-group">
    <button type="submit" name="button" value="Save" class="btn btn-success float-right col-md-6">Save</button>
    <button type="button" name="button" value="Cancel" class="btn btn-warning col-md-6">Cancel</button>
</div>