@model AdoptifySystem.Models.Role_
@{
    ViewBag.Title = "MaintainUserRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Maintain User Role</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr />
    <input name="Role_ID" value="@Model.Role_ID" hidden />
    <div class="form-group">
        <label class="form-control-label">Role Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="Rolename" value="@Model.Role_Name" name="Role_Name" placeholder="Role Name">
            <h1 class="invalid-feedback">Already Exists   @ViewBag.err</h1>
            <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover Title">
                Bottom
            </button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Cancel", "SearchUserRole",null, new { @class = "btn btn-warning" })
            <button type="submit" name="button" value="Save" class=" btn btn-success float-right">Save</button>
        </div>
    </div>
</div>
}
