@{
    ViewBag.Title = "EmployeeTimesheet1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Timesheet Report</h2>


<div class="criteria">
    <label>Date</label>
    <input type="date" id="Date" class="btn btn-outline-dark" />
    <br />
    <input type="button" id="btnTo" value="Generate" class="btn btn-primary" />
</div>
<hr />

<div class="container">
    <h2>Timesheet</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Employee Surname</th>
                <th>Check In</th>
                <th>Check Out</th>
            </tr>
        </thead>
        <tbody id="tAppoint">
            <tr>
            </tr>
        </tbody>
    </table>
</div>

<div id="idx1">
    <table class="table table-striped table-dark" id="tblAdded">

        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Employee Surname</th>
                <th>Check In</th>
                <th>Check Out</th>
            </tr>
        </thead>
        <tbody class="Added" id="tblfAdded">
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('#idx1').hide();

            $('#btnTo').click(function () {
                var Date = $('#Date').val();
                $.ajax({
                    url: '/Reports/EmployeeTimesheet2',
                    type: "Post",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "Date": Date }),
                    success: function (data) {

                        $('#tblAdded').find("tbody").empty();
                        var i = 0;
                        var length = data.checkIn.length;
                        //debugger
                        console.log(data.checkIn[0]);
                        console.log(data);

                        var rowS = "<tr><td>" +  data.checkIn[0] + "</td><td>" + data.checkOut[i] + "</td><td>" + data.empName[i] + "</td><td>" + data.empSurname[i] + "</td></tr>";
                        console.log(rowS);
                        $("#tAppoint").append(rowS);

                        $("idx1").show();

                    },
                    error: function (xhr, ajaxoptions, thrownError) {
                        alert(thrownError);
                    }
                });
            });
        });
    </script>

}


