@model AdoptifySystem.Models
@{
    ViewBag.Title = "EventSale1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<
<h2>Event Sale Report</h2>

<div class="container">
    <h2>Event Ticket Sales for this Month</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Event Date</th>
                <th>Event Name</th>
                <th>Ticket Price</th>
                <th>Tickets Sold</th>
                <th>Total Amount</th>

            </tr>
        </thead>
        <tbody id="tAppoint">
            <tr>
            </tr>
        </tbody>
    </table>
</div>

<div id="idx1">
    <table class="table table-striped table-dark" id="tblAdded">

        <thead>
            <tr>
                <th>Event Date</th>
                <th>Event Name</th>
                <th>Ticket Price</th>
                <th>Tickets Sold</th>
                <th><input type="text" class="tot" value="0"></th>
            </tr>
        </thead>
        <tbody class="Added" id="tblAdded">
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
          $(document).ready(function ()
            {
            $('#idx1').hide();

            $('#btnTo').click(function () {
                var Date = $('#Date').val();
                $.ajax({
                    url: '/Reports/EventSale',
                    type: "Post",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "Date": Date }),
                    success: function (data) {

                        $('#tblAdded').find("tbody").empty();
                        var i = 0;
                        var length = data.deDate.length;
                        //debugger
                        console.log(data.Dates[0]);
                        console.log(data);

                        var rowS = "<tr><td>" + data.eDate[0] + "</td><td>" + data.eName[i] + "</td><td>" + data. nTickets[i] + "</td><td>";
                        console.log(rowS);
                        $("#tAppoint").append(rowS);

                      $("idx1").show();

                    },
                    error: function (xhr, ajaxoptions, thrownError) {
                        alert(thrownError);
                    }
                });
            });
        });
    </script>

}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
