@model List<AdoptifySystem.Models.KennelHistoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
   </div>