@model AdoptifySystem.Donation_Type
@{
    ViewBag.Title = "Add Donation Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
    <div class="border-primary card mb-3">
        <h1 class="table-primary">Add Donation Type</h1>
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h4 style="color:red">@ViewBag.errormessage</h4>
                <hr />
                <div class="form-group">
                    <label>Donation Type Name</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="DonationTypename" name="Donation_Type_Name" placeholder="Donation Type Name">
                    </div>
                </div>

                <div class="form-group">
                    <label>Donation Type Description</label>
                    <div class="col-md-5">
                        <textarea type="text" class="form-control" id="DonationTypeDescription" name="Donation_Type_Description" placeholder="Donation Type Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "Searchdonationtype", null, new { @class = "btn btn-warning" })
                        <button type="submit" name="button" value="Save" class=" btn btn-success float-right">Save</button>
                    </div>
                </div>
            </div>
        }
        </div>